page-nigerforfaiinternet {

    .toolbar{
       
    }
    .bton{
        width: 80%;
        background-color: #00ae64!important;
        color: #ffffff;
        text-align: center;
        left: 10%;
        margin: 10px;
    }
    p{
        text-align: center;
    }
}
