page-airtel-mkouditransfert {
    .toolbar{
      
    }

    .non{
        color:#fefefe;
        background-color: #17db12;
        width: 40%;
        padding: 5%;
    }
    .oui{
        color: #fefefe;
        left: 100%;
        margin-left: 50%;
        background-color: #17db12;
        width: 40%;
        padding: 5%;
    }
    .decalage{
        width: 98%;
        height: 9%;
        background-color: #17db12;
        margin-left: 1%;
        color:  #fff;
    }
    .deplace{
        position: relative;
        margin-top: 20%;
    }

}
