page-moovtransfert {

    .toolbar{

        color: #000;
    }
    .toolbar-md-niger 
    .bar-button-clear-md, 
    .toolbar-md-niger 
    .bar-button-default-md, 
    .toolbar-md-niger 
    .bar-button-outline-md, 
    .toolbar-md-niger 
    .toolbar-title-md
    {
        color: #000;

    }
    .bton{
        width: 80%;
        background-color: #00ae64!important;
        color: #fff;
        text-align: center;
        left: 10%;
        margin: 10px;
    }
    p{
        text-align: center;
    }
}
