page-niger {
   
    
    .card-md .card-content-md{
       
        color: #fff;
     

    }
    .ion-card img {
        display: block;
        width: 60%;
    }
    .card-md p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #fff;
        display: inline-block;
    }
    .nigerint{
        text-align: center;
        color:#fff;
    }
    .toolbar-md-nigertelecomsc 
    .bar-button-clear-md, 
    .toolbar-md-nigertelecomsc 
    .bar-button-default-md, 
    .toolbar-md-nigertelecomsc 
    .bar-button-outline-md, 
    .toolbar-md-nigertelecomsc 
    .toolbar-title-md
    {
      color: #fff;
     
    }
    .bton{
       
        color: #fff;
        text-align: center;
        width: 350px;
        height: 90px;
        position: relative;
        bottom: 2%;
        background-color: #Ba04d0!important;
    }
    page-niger .toolbar-md-dernierv .bar-button-clear-md, page-niger .toolbar-md-dernierv .bar-button-default-md, page-niger .toolbar-md-dernierv .bar-button-outline-md, page-niger .toolbar-md-dernierv .toolbar-title-md
  {
color: #fff;

}
    .p2{
        color: #fff;
    }
    .ion-slideimg {
        height: 100%;
        width: 100%;
      }
      .icon{
        width: 100%;
        height: 50%;   
    } 
    .slide{
        height: 50%;
        width: 100%;
    }
   
    
    /*.copt{
    margin: 7px;
    height: 20%;
    width: 45%;
    display: inline-block;
    background-color: orange;
    }
    .nigerint{
        width: 60%;
        height: 20%;
    }
    .slide{
        height: 50%;
        width: 100%;
    }
   
.toolbar{
    text-align: center;
}

.card-mds {
    margin: 7px;
    height: 20%;
    width: 45%;
    display: inline-block;
    background-color: orange;
}
.card-content-mds {
    padding: 0px 0px;
    text-align: center;  
}


.ion-card imsg {
    display: block;
    border-radius: 2px;
    height: 50%;
    width: 50%;
}
.cardd-md p {
    color: #fff;
    margin: 5px;
    height: 95px;
    width: 56%;
    display: inline-block;
    background-color: orange;
} 
.icon{
    width: 100%;
    height: 50%;   
} */
.ion-slideimg {
    height: 100%;
    width: 100%;
  }
  .card-md {
    height: 160px;
    width: 43%;
    display: inline-block;
   
    background-color: #Ba04d0!important;
  
}
.card-content-md {

    text-align: center;  
}


.ion-card img {
    display: block;
    border-radius: 2px;
    height: 50%;
    width: 50%;
   
}
.card-md p {

    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    display: inline-block;
    position: relative;
    bottom: 25px!important;
} 
.icon{
    width: 100%;
    height: 50%;   
}
}
