page-airtel {
    .slide{
    height: 50%;
    width: 100%;
}


.card-md {
    height: 109px;
    width: 45%;
    display: inline-block;
    background-color: #Ba04d0!important;
    margin: 7px;
}
.card-content-md {
    padding: 0px 0px;
    text-align: center;  
}
.toolbar-content-md{

}
.ion-card img {
    display: block;
    border-radius: 2px;
    height: 50%;
    width: 50%;
}
.toolbar-md-dernierv 
.bar-button-clear-md, 
.toolbar-md-dernierv 
.bar-button-default-md, 
.toolbar-md-dernierv 
.bar-button-outline-md, 
.toolbar-md-dernierv 
.toolbar-title-md
  {
color: #fff;
}

.card-md p {
    color: #fff;
    margin: 5px;
    height: 95px;
    width: 66%;
    display: inline-block;
    background-color: #Ba04d0!important;
    position: relative;
    bottom: 15px!important;
   
} //#0cee17
.icon{
    width: 100%;
    height: 50%;   
}
.ion-slideimg {
    height: 100%;
    width: 100%;
  }  
  .h80{
      color: #fff;
  }
  .au{
      width: 50%;
      height: 20%;
  }
}