page-nigertransfert {
  .toolbar{
        
    }

    .non{
        color:#fefefe;
        background-color: #00ae64;
        width: 40%;
        padding: 5%;
    }
    .oui{
        color: #fefefe;
        left: 100%;
        margin-left: 50%;
        background-color: #00ae64;
        width: 40%;
        padding: 5%;
    }
    .decalage{
        width: 98%;
        height: 9%;
        background-color: #00ae64!important;
        margin-left: 1%;
        color:  #fff;
    }
    .deplace{
        position: relative;
        margin-top: 20%;
    }
    .border{
        border: 1px black solid;
        border-radius: 21px 20px;
    }
}
