page-help {
    .toolbar{
        text-align: center;
    }
    a{
       
        inline-size: auto;
        color: #000;
        text-decoration: none;
    }
    .a1{
        position: relative;
        top: 20%; 
    }
    .card-md{
        font-size: 1.5em;
        position: relative;
        top: 5%;
    }
    .butto{
        background-color: #0ceeaa;
        width: 100%;
        height: 80px;
        color: #000;
        font-size: 2em;
    }
    

}
