page-apropos {

    .toolbar{
        text-align: center;
    }
    .bton{
        width: 80%;
        background-color: black;
        color: #ffffff;
        text-align: center;
        left: 10%;
        margin: 10px;
    }
    p{
        text-align: center;
    }
    .button-round-md{
        width: 98%;
        height: 10%;
        background-color: black;
        margin-left: 1%;
        color:  #fff;
    }
    img{
        width: 100%;
        height: 45%;
        top: 30%;
        margin: 3%;
    }
}
