.vert-theme{
    .contt{
        font-size: 1.2em;
        text-align: justify;
    }
    .ion-content{
background-color:#Ba04d0!important,
//background-color: #0ec3ce!important,
}
.toolbar-background{
background-color:#Ba04d0!important;
}
.ion-content{
background-color:#Ba04d0!important;
}
.tabs-md-dernierv .tabbar{
background-color:#Ba04d0!important;
}
.toolbar-background{
background-color:#Ba04d0!important;
}
.toolbar-title{
color:#fff!important;

}

.header .toolbar-background{
background-color:#Ba04d0!important;
border-color:#cd622d!important;
}    
page-accueil .toolbar-md-dernierv .bar-button-clear-md, page-accueil .toolbar-md-dernierv .bar-button-default-md, page-accueil .toolbar-md-dernierv .bar-button-outline-md, page-accueil .toolbar-md-dernierv .toolbar-title-md
{   

padding-top: 4%;
position: relative;
}

.bar-button-clear-md, page-airtel .toolbar-md-dernierv .bar-button-default-md,
page-airtel .toolbar-md-dernierv .bar-button-outline-md,
page-airtel .toolbar-md-dernierv .toolbar-title-md
{   


}
.bar-button-clear-md, page-niger .toolbar-md-dernierv .bar-button-default-md,
page-niger .toolbar-md-dernierv .bar-button-outline-md,
page-niger .toolbar-md-dernierv .toolbar-title-md
{   

}
.bar-button-clear-md, page-moov .toolbar-md-dernierv .bar-button-default-md,
page-moov .toolbar-md-dernierv .bar-button-outline-md,
page-moov .toolbar-md-dernierv .toolbar-title-md
{   


}
.bar-button-clear-md,page-orange .toolbar-md-dernierv .bar-button-default-md,
page-orange .toolbar-md-dernierv .bar-button-outline-md,
page-orange .toolbar-md-dernierv .toolbar-title-md
{   


}
.card-content-md{
background-color:#Ba04d0!important;
}
.card-md p{
background-color:#Ba04d0!important;
}.ion-card {

background-color:#Ba04d0!important;
}

.ion-card1 {

background-color:#Ba04d0!important;
}

.ion-card2 {
background-color:#Ba04d0!important;
}
.swiper-slide { overflow-y: scroll; display: block; }       

.item-md{
background-color:#Ba04d0!important;
}
.button-round-md{
background-color: #Ba04d0!important;
}
.toolbar-md-dernierv 
.bar-button-clear-md, 
.toolbar-md-dernierv 
.bar-button-default-md, 
.toolbar-md-dernierv 
.bar-button-outline-md, 
.toolbar-md-dernierv 
.toolbar-title-md
{
color: #fff;

}
.vert-theme .toolbar-md-dernierv .bar-button-clear-md, .vert-theme .toolbar-md-dernierv .bar-button-default-md, .vert-theme .toolbar-md-dernierv .bar-button-outline-md, .vert-theme .toolbar-md-dernierv .toolbar-title-md{
    padding-top: 4%;
    position: relative;
}

.statusbar{
    background-color:#Ba04d0;
}
.h80{
    color: #fff;
}    
.toolbar{
    left: 5%;
}
.content-m {
    color: #000;
    font-size: 1.2em !important;
    text-align: justify!important;
}

.card-title1{
    height: 50px!important;


}
.ion{
    display: flex;
   
  }
  
  /*.mo {
    display: block;
    width: 120%!important;
    height: 100px!important;
}*/
.card-md h3, .card-md h4, .card-md h5, .card-md h6{
font-size: 1.4rem!important;
font-weight: normal!important;
color: #222!important;
}
.whatsapp3{
    background-color: #Ba04d0!important;
    left: 53% !important;
}
.twitter{
    background-color: #Ba04d0!important;
    left: 58% !important;
}
.whatsapppartag{
    background-color: #Ba04d0!important;
    left: 68% !important;
}
}