.theme{
    .ion-content{
        background-color:#0ec3ce!important,
        }
        .toolbar-background{
        background-color:#0ec3ce!important;
        }
        .ion-content{
        background-color:#0ec3ce!important;
        }
        .tabs-md-dernierv .tabbar{
        background-color:#0ec3ce!important;
        }
        .toolbar-background{
        background-color:#0ec3ce!important;
        }
        .toolbar-title{
        color:#fff!important;
        
        }
        .statusbar{
            background-color:#0ec3ce;
        }
        
        .header .toolbar-background{
        background-color:#0ec3ce!important;
        border-color:#0ec3ce!important;
        }    
        page-accueil .toolbar-md-dernierv .bar-button-clear-md, page-accueil .toolbar-md-dernierv .bar-button-default-md, page-accueil .toolbar-md-dernierv .bar-button-outline-md, page-accueil .toolbar-md-dernierv .toolbar-title-md
        {   
        
        padding-top: 4%;
        position: relative;
        }
        
        .bar-button-clear-md, page-airtel .toolbar-md-dernierv .bar-button-default-md,
        page-airtel .toolbar-md-dernierv .bar-button-outline-md,
        page-airtel .toolbar-md-dernierv .toolbar-title-md
        {   
        
        
        }
        .bar-button-clear-md, page-niger .toolbar-md-dernierv .bar-button-default-md,
        page-niger .toolbar-md-dernierv .bar-button-outline-md,
        page-niger .toolbar-md-dernierv .toolbar-title-md
        {   
        
        }
        .bar-button-clear-md, page-moov .toolbar-md-dernierv .bar-button-default-md,
        page-moov .toolbar-md-dernierv .bar-button-outline-md,
        page-moov .toolbar-md-dernierv .toolbar-title-md
        {   
        
        
        }
        .bar-button-clear-md,page-orange .toolbar-md-dernierv .bar-button-default-md,
        page-orange .toolbar-md-dernierv .bar-button-outline-md,
        page-orange .toolbar-md-dernierv .toolbar-title-md
        {   
        
        
        }
        .card-content-md{
        background-color:#0ec3ce!important;
        }
        .card-md p{
        background-color:#0ec3ce!important;
        }.ion-card {
        
        background-color:#0ec3ce!important;
        }
        
        .ion-card1 {
        
        background-color:#0ec3ce!important;
        }
        
        .ion-card2 {
        background-color:#0ec3ce!important;
        }
        .swiper-slide { overflow-y: scroll; display: block; }       
        
        .item-md{
        background-color:#0ec3ce!important;
        }
        .button-round-md{
        background-color: #0ec3ce!important;
        }
        .toolbar-md-dernierv 
        .bar-button-clear-md, 
        .toolbar-md-dernierv 
        .bar-button-default-md, 
        .toolbar-md-dernierv 
        .bar-button-outline-md, 
        .toolbar-md-dernierv 
        .toolbar-title-md
        {
        color: #fff;
        
        }
        .vert-theme .toolbar-md-dernierv .bar-button-clear-md, .vert-theme .toolbar-md-dernierv .bar-button-default-md, .vert-theme .toolbar-md-dernierv .bar-button-outline-md, .vert-theme .toolbar-md-dernierv .toolbar-title-md{
            padding-top: 4%;
        position: relative;
        }
        page-orange .card-md{
         background-color:    #0ec3ce!important;
        }
        page-airtel .card-md{
            background-color:    #0ec3ce!important;
        }
        page-moov .card-md{
            background-color:    #0ec3ce!important;
        }
        page-niger .card-md{
            background-color:    #0ec3ce!important;
        }
       
        .h80{
            color: #fff;
        }
           
        .content-m {
            color: #000;
            font-size: 1.2em !important;
            text-align: justify;
        }
        
        .card-title1{
            height: 50px;      
        
        }
        .ion{
            display: flex;           
          }
          
        /*  .mo {
            display: block;
            width: 120%;
            height: 100px;
        }*/
        .card-md h3, .card-md h4, .card-md h5, .card-md h6{
            font-size: 1.4rem;
            font-weight: normal;
            color: #222;
            }
            .whatsapp3{
                background-color: #0ec3ce !important;
                left: 53% !important;
            }
            .twitter{
                background-color: #0ec3ce !important;
                left: 58% !important;
            }
            .whatsapppartag{
                background-color: #0ec3ce !important;
                left: 68% !important;
                color: #fff;
            }
            .twitter{
                left: 72%;
                background-color: #0ec3ce !important;
            }
            .whatsapp3{
                left: 62%;
                background-color: #0ec3ce !important;
            }
        /* 
 .ion-content{
        background-color:#cd622d!important,
        }
        .toolbar-background{
        background-color:#cd622d!important;
        }
        .ion-content{
        background-color:#cd622d!important;
        }
        .tabs-md-dernierv .tabbar{
        background-color:#cd622d!important;
        }
        .toolbar-background{
        background-color:#cd622d!important;
        }
        .toolbar-title{
        color:#fff!important;
        
        }
        
        .header .toolbar-background{
        background-color:#cd622d!important;
        border-color:#cd622d!important;
        }    
        page-accueil .toolbar-md-dernierv .bar-button-clear-md, page-accueil .toolbar-md-dernierv .bar-button-default-md, page-accueil .toolbar-md-dernierv .bar-button-outline-md, page-accueil .toolbar-md-dernierv .toolbar-title-md
        {   
        
        padding-top: 4%;
        position: relative;
        }
        
        .bar-button-clear-md, page-airtel .toolbar-md-dernierv .bar-button-default-md,
        page-airtel .toolbar-md-dernierv .bar-button-outline-md,
        page-airtel .toolbar-md-dernierv .toolbar-title-md
        {   
        
        
        }
        .bar-button-clear-md, page-niger .toolbar-md-dernierv .bar-button-default-md,
        page-niger .toolbar-md-dernierv .bar-button-outline-md,
        page-niger .toolbar-md-dernierv .toolbar-title-md
        {   
        
        }
        .bar-button-clear-md, page-moov .toolbar-md-dernierv .bar-button-default-md,
        page-moov .toolbar-md-dernierv .bar-button-outline-md,
        page-moov .toolbar-md-dernierv .toolbar-title-md
        {   
        
        
        }
        .bar-button-clear-md,page-orange .toolbar-md-dernierv .bar-button-default-md,
        page-orange .toolbar-md-dernierv .bar-button-outline-md,
        page-orange .toolbar-md-dernierv .toolbar-title-md
        {   
        
        
        }
        .card-content-md{
        background-color:#cd622d!important;
        }
        .card-md p{
        background-color:#cd622d!important;
        }.ion-card {
        
        background-color:#cd622d!important;
        }
        
        .ion-card1 {
        
        background-color:#cd622d!important;
        }
        
        .ion-card2 {
        background-color:#cd622d!important;
        }
        .swiper-slide { overflow-y: scroll; display: block; }       
        
        .item-md{
        background-color:#cd622d!important;
        }
        .button-round-md{
        background-color: #cd622d!important;
        }
        .toolbar-md-dernierv 
        .bar-button-clear-md, 
        .toolbar-md-dernierv 
        .bar-button-default-md, 
        .toolbar-md-dernierv 
        .bar-button-outline-md, 
        .toolbar-md-dernierv 
        .toolbar-title-md
        {
        color: #fff;
        
        }
        .vert-theme .toolbar-md-dernierv .bar-button-clear-md, .vert-theme .toolbar-md-dernierv .bar-button-default-md, .vert-theme .toolbar-md-dernierv .bar-button-outline-md, .vert-theme .toolbar-md-dernierv .toolbar-title-md{
            padding-top: 4%;
        position: relative;
        }
        page-orange .card-md{
         background-color:    #cd622d!important;
        }
        page-airtel .card-md{
            background-color:    #cd622d!important;
        }
        page-moov .card-md{
            background-color:    #cd622d!important;
        }
        page-niger .card-md{
            background-color:    #cd622d!important;
        }
        .card-title{
            text-align: center;
        
        font-size: 1.6em;
        }
*/

}
