orangemoneypop {
    .non{
        color: #fefefe;
background-color: #00ae64;
width: 30%;
padding: 3%;
    }
    .oui{
        color: #fefefe;
        left: 100%;
        margin-left: 38%;
        background-color: #00ae64;
        width: 30%;
        padding: 3%;
    }
    .decalage{
        padding: 5px;
        display: flex;

    }
}
