page-airtelcompte {
    .toolbar{
        left: 5%;
    }
    .bton{
        width: 80%;
        background-color:  #00ae64!important;
        color: #ffffff;
        text-align: center;
        left: 10%;
        margin: 10px;
    }
  .ion-content{
    background-image: url( ../assets/imgs/air1.jpg);
   }

}
