page-home {
  
    img{
        width: 191%;
        height: 40%;
        top: 5%;
        margin: 5%;
        margin-right: 50%;
        margin-left: 0%;
    }
    .airteletmovv{
        display:flex;
        margin-bottom: 20px;
    }
    .nigertetoran{
        display: flex
    }
    .stylbutton{
        background-color:rgb(0, 0, 0);
        width: 30%;
        height: 10% ;
        color:white
    }
    .btn{
        width: 45%;
        height: 50px;
        margin-left: 10px;
        margin-top: 10%;
    }
    .share{
        position: relative;
        right: 8%;
        left: 45px;
        margin-top: 8%;
    }
    .whatsapp1{
        background-color: #0ceeaa;
        width: 20%;
    }
    .whatsapp2{
        background-color: #000;
        width: 20%;
    }
    .whatsapp3{
        background-color: #ee0c63;
        width: 20%;
    }
    .fdepot{
        margin: 5%;
        width: 45%;
        height: 50px;
        margin-left: 5%;
        margin-top: 5%;
    }  
    
    
}
