page-networkinfo {

    .toolbar{
        text-align: center;
        color: #000;
    }
    .bton{
        width: 80%;
        background-color: #00ae64 !important;
        color: #fff;
        text-align: center;
        left: 10%;
        margin: 10px;
    }   
    .decalage{
        width: 98%;
        height: 10%;
        background-color: #00ae64 !important;
        margin-left: 1%;
        color:  #fff;
    }
   
   p{
        text-align: center;
        
    }
}
